
body{
    font-family: 'OrkneyRegular', Arial, Helvetica, sans-serif;
}

.content{
    display:flex;
    flex: auto;
    flex-direction: row;
    width: 100vw;
    height:100vh;
}

.image-container{
    display:flex;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    object-fit:contain;
}

.text-container{
    width: 60vw;
    display:flex;
    flex: auto;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
}

.name-container{
    display:flex;
    flex:auto;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.first-name-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.last-name-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.contact-container{
    display:flex;
    flex:auto;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.email-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.phone-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.passwords-container{
    display:flex;
    flex:auto;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.first-password-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.confirm-password-container{
    display:flex;
    flex-direction:column;
    padding: 10px;
}

form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

em{
    color: red;
}

button{
    font-size: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-color:white;
    border-width: 0px;
    box-shadow: none;
}

button:hover{
    background-color: white;
    color:red;
    border-width: 2px;
    border-color: red;
}

button:active{
    background-color:black;
    color:red;
}

a{
    color:red;
}